/**---------------------
* Custom CSS
* Bandung 28 Maret 2019
*----------------------
*/

/*--------------------
* Header 
*--------------------
*/

.top-head{
	background-color: #1e94da;
	color: #fff;
	padding: 15px 0;
}

.top-head .logo{
	width: 60px;
	float: right;
}

.top-head .user i{
	font-size: 40px;
	font-weight: bold;
}

.top-head .user-padding {
	padding-top: 5px;
}

.top-head .a-mon {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.top-head .k-per {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/*--------------------
* Padding 
*--------------------
*/

.padding-bottom-20 {

	padding-bottom: 20px;
}

.padding-bottom-50 {

	padding-bottom: 50px;
}

.padding-50{
	padding: 60px 0;
}

/*--------------------
* Margin 
*--------------------
*/

.margin-50{
	margin: 60px 0;
}

.margin-bottom-50{
	margin-bottom: 50px;
}

.margin-top-10{
	margin-top: 10px;
}

.margin-top-50{
	margin-top: 50px;
}

/*--------------------
* Login 
*--------------------
*/

.skin-blue .login-wrapper, .login-page-wrapper{
	background-color: #6b9cff;
}

.login-wrapper {
    height: 100%;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.login-box-kemhan{
	width: 460px;
    margin: 7% auto;
}

.login-box-body-page{
	background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
    width: 350px;
    margin:0 auto;
}

.login-logo{
	width: 100px;
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}

.login-box-msg{
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
}

.login-label{
	margin-bottom: 20px;
}

.login-label .a-mon {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

.login-label .k-per {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
}

/*--------------------
* Form 
*--------------------
*/

.box-form-rounded{
	padding:10px 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #dbdada;
}