/**---------------------
* Custom CSS
* Bandung 28 Maret 2019
*----------------------
*/

/*--------------------
* Header 
*--------------------
*/

.top-head{
	background-color: #1e94da;
	color: #fff;
	padding: 15px 0;
}

.top-head .logo{
	width: 60px;
	float: right;
}

.top-head .user i{
	font-size: 40px;
	font-weight: bold;
}

.top-head .user-padding {
	padding-top: 5px;
}

.top-head .a-mon {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
}

.top-head .k-per {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

/*--------------------
* Padding 
*--------------------
*/

.padding-bottom-20 {

	padding-bottom: 20px;
}

.padding-bottom-50 {

	padding-bottom: 50px;
}